@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4" >
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is a public, land-grant university,
            where students get a great academic start in learning 
            communities and stay active in 800-plus student organizations, 
            undergrad research, internships and study abroad. They learn from 
            world-class scholars who are tackling some of the world's 
            biggest challenges -- feeding the hungry, finding alternative 
            fuels and advancing manufacturing.
        </p>
    </div>
    <div class="col-md-4" >
        <h2>Imagine your future</h2>
        <p style="background-image: url('building-campus.jpg');
        height: 200px;
        width: 200px;
        border-color: gold;" ></p>
    </div>
    
</div>